<h1>Data</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Pages</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for data in object_list %}
    <tr>
    <td>{{ data.name }}</td>
    <td>{{ data.pages }}</td>
    <td><a href="{% url "data_view" data.id %}">view</a></td>
    <td><a href="{% url "data_edit" data.id %}">edit</a></td>
    <td><a href="{% url "data_delete" data.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "data_new" %}">New</a>